/*
#Pagination

	<nav>
		<ul class="pagination">
		  <li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
		  <li class="active"><a href="#">1</a></li>
		  <li><a href="#">2</a></li>
		  <li><a href="#">3</a></li>
		  <li><a href="#">4</a></li>
		  <li><a href="#">5</a></li>
		  <li><a href="#">6</a></li>
		  <li><a href="#">7</a></li>
		  <li><a href="#">8</a></li>
		  <li><a href="#">9</a></li>
		  <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
		</ul>
	  </nav>

*/

.pagination > li > a{
	color: #333;
}
.pagination a > span{
	color: #666;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
	background: $base-color-1;
	border-color: #ddd;
	color: #fff;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
	background: $base-color-2;
	color: #fff;
}