/*
#Slider


	<div class="slick-slider">
		<img src="http://placehold.it/200x200&text=Slide 1" alt="" class="img-responsive">
		<img src="http://placehold.it/200x200&text=Slide 2" alt="" class="img-responsive">
		<img src="http://placehold.it/200x200&text=Slide 3" alt="" class="img-responsive">
		<img src="http://placehold.it/200x200&text=Slide 4" alt="" class="img-responsive">
	</div>

*/
.slick-slider{
	margin-bottom: 15px;
}

.slick-slider > img,
.slick-slider > div{
	display: none;
}

.slick-slider > img:first-child,
.slick-slider > div:first-child,
.slick-slider.slick-initialized > div{
	display: block;
}
