/*
#Wdg-facebook-page

	<div id="fb-root"></div>
    <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=452128718211745";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

	<div class="wdg wdg-facebook-page hidden-xs">
		<div data-href="https://www.facebook.com/facebook" data-width="300" data-height="529" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" class="fb-page">
			<div class="fb-xfbml-parse-ignore">
				<blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
			</div>
		</div>
	</div>


*/
aside .wdg-facebook-page{
	position: relative;
	height: 0;
	padding-bottom: 160.65%;
	width: 100%;
	
}
aside .wdg-facebook-page  > .fb-page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
}
