/*
#Widgets

	<div class="wdg wdg-custom">
		<h1 class="wdg-title">Widget Title</h1>
		<div class="content">
			WIDGET CONTENT
		</div>
	</div>

*/
.wdg-title{
	text-transform: uppercase;
	color: #339B80;
	display: block;
	font-size: 1em;
	font-weight: normal;

}


