//POST
article.post
	.row
		.col-sm-4
			.thumb
				a(href='#')
					img(src='images/post_thumb_bg.jpg', alt='')
		.col-sm-8
			.content
				ul.meta.list-inline
					block postmeta
						li.date
							a(href='#') 13/03/2015
						li.category
							a(href='#') Generales
				h1.post-title
					a(href='#') Lorem ipsum dolor sit amet.
				a(href='#')
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, rem, obcaecati doloremque molestias rerum at quis eaque eveniet dicta itaque totam explicabo. Nesciunt, veritatis, iure, ut architecto harum quidem cum quos suscipit dolorum tempore quae necessitatibus nisi qui quisquam tempora asperiores officiis hic amet minima.
			a.btn.btn-primary.btn-showmore(href='page.html') Leer nota completa