.wdg.wdg-facebook-page.hidden-xs
	.fb-page(data-href='https://www.facebook.com/facebook', data-width='300', data-height='529', data-hide-cover='false', data-show-facepile='true', data-show-posts='true')
		.fb-xfbml-parse-ignore
			blockquote(cite='https://www.facebook.com/facebook')
				a(href='https://www.facebook.com/facebook') Facebook