/**********************
	VARIABLES
***********************/




$color-primary: #FE4365;
$color-secondary: #FC9D9A; 
$color-tertiary: #83AF9B;
$color-quaternary: #C8C8A9;
$color-5: #F9CDAD;

$color_title: $color-tertiary;

$color-menu-hove: $color-tertiary;
$color-menu-active: #F9CDAD;
$color-sub-active-text: $color-secondary;

$mainmenu-bg: #FC9D9A;
$mainmenu-nav-bg: #FE4365;
$mainmenu-nav-hover-bg: #FE4365;
$mainmenu-nav-active-bg: #FC9D9A;
$mainmenu-nav-active: #83AF9B;
$mainmenu-submenu-bg: #FC9D9A;
$mainmenu-submenu-hover-bg:#FC9D9A;
$mainmenu-submenu-active-bg: #FE4365;
$mainmenu-submenu-active: #fff;
