/**********************
	VARIABLES
***********************/
@import "_colors"; 




$body-bg: #fff;

$link-color: $base-color-5;
$link-color-hover: $base-color-4;

$header-bg: $base-color-1;

$logo-name: #fff;
$logo-legend: lighten($base-color-4, 25%);
 
 
$page-title: $base-color-2;
 
$post-title: $page-title;
$post-meta: $base-color-4;
 
$btn-primary-bg: $base-color-4;
$btn-primary-bg-hover: darken($btn-primary-bg, 15%);
$btn-primary-color: #fff;
 
$btn-secondary-bg: $base-color-2;
$btn-secondary-bg-hover: darken($base-color-2, 15%);;
$btn-secondary-color: #fff;
 
$menu-bg: $base-color-2;
$menu-nav-bg: darken($menu-bg, 10%);
$menu-nav-bg-hover: lighten($base-color-4, 15%);
$menu-nav-bg-active: $base-color-4;
$menu-nav-color: #fff;
$menu-nav-color-hover: $menu-nav-color;
$menu-nav-color-active: $menu-nav-color;

$menu-sub-bg: rgba( $menu-nav-bg-hover, .8);
$menu-sub-bg-hover: lighten($menu-sub-bg, 15%);
$menu-sub-bg-active: $base-color-4;
$menu-sub-color: #fff;
$menu-sub-color-hover: $menu-sub-color;
$menu-sub-color-active: $menu-nav-bg-active;

 
$footer-bg: $base-color-1;
$footer-color: #fff;
//$footer-nav-bg: ;
$footer-nav-bg-active: $menu-nav-bg-active;
$footer-nav-bg-hover: $footer-nav-bg-active;
$footer-nav-color: #fff;

$footer-sub-bg: $menu-nav-bg-hover;
$footer-sub-bg-hover: lighten($menu-sub-bg, 15%);
$footer-sub-bg-active: $base-color-4;
$footer-sub-color: #fff;
$footer-sub-color-hover: $footer-sub-color;
$footer-sub-color-active: $footer-nav-bg-active;

 
$advertisers-bg: darken($base-color-3, 10%);
$advertisers-color: $base-color-4;
$ads-border: $base-color-4;