/* NOT_GOING_BACK
* Source: http://www.colourlovers.com/palette/3747239/Not_going_back
*/
$base-color-1: #04A7B6;
$base-color-2: #E8254E;
$base-color-3: #E7EDEE;
$base-color-4: #04A7B6;
$base-color-5: #A2B3B2;